{% extends 'base.html.twig' %}

{% block title %} Casu-Hall - Réinitialisation du mot de passe {% endblock %}

{% block body %}
    <div class= "align-items-center text-center"> 
        <h4 class = "p-2 mt-3 text-uppercase fw-bold"> Réinitialiser le mot de passe </h4>
    </div>
    <div class="container d-flex align-items-center mb-5 mt-3">
        <div class="p-4 border border-black bg-light rounded mx-auto">
            {{ form_start(requestForm) }}
                <div class="row">
                    {{ form_label(requestForm.email) }}
                    {{ form_widget(requestForm.email) }}
                </div>

                <div class="row mt-1 mb-3">
                    <small> <i> En rentrant votre adresse e-mail, vous recevrez un lien afin de réinitialiser votre mot de passe. </i> </small>
                </div>

                <div class="row mt-2">
                    {{ form_widget(requestForm.submit) }}
                </div>
            {{ form_end(requestForm) }}
        </div>
    </div>

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="container d-flex align-items-center text-center justify-content-center mb-2 mt-1">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ flash_error }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
