{% extends "base/base.html.twig" %}

{% block title %} Casu'Hall - Ajouter un article {% endblock %}

{% block body %}
     {% set alertTypes = {'success': 'success', 'warning': 'warning', 'error': 'danger'} %}
    {% for type, cssClass in alertTypes %}
        {% for message in app.flashes(type) %}
            <div class="container-fluid d-flex align-items-center text-center justify-content-center mb-2 mt-3">
                <div class="alert alert-dismissible alert-{{ cssClass }} text-center" data-alert>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    
    <h4 class = "p-2 mt-3 text-uppercase fw-bold text-center"> Ajouter un article </h4>
    <div class="container d-flex align-items-center mb-4 mt-3">
        <div class="p-4 border border-black bg-light rounded mx-auto shadow shadow-lg">
            {{ form_start(form) }}
                <div class="row mb-2">
                    {{ form_label(form.nomArticle)}}
                    {{ form_widget(form.nomArticle)}}
                </div> 

                <div class="row mb-2">
                    <div class="col-md-6">
                        {{ form_label(form.quantite_stock)}}
                        {{ form_widget(form.quantite_stock)}}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.prix)}}
                        {{ form_widget(form.prix)}}
                    </div>
                </div> 

                <div class="row mb-4">
                    <div class="col-md-6">
                        {{ form_label(form.taille)}}
                        {{ form_widget(form.taille)}}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.note)}}
                        {{ form_widget(form.note)}}
                    </div> 
                </div> 
                 
                <div class="row mb-3">
                    {{ form_widget(form.images) }}
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        {{ form_label(form.idMarque)}}
                        {{ form_widget(form.idMarque)}}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.idCategorie)}}
                        {{ form_widget(form.idCategorie)}}
                    </div>
                </div>  

                <div class="row mb-2">
                    {{ form_label(form.description)}}
                    {{ form_widget(form.description)}}
                </div>

                <div class="row">
                    {{ form_widget(form.addArticle) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}