{% extends "base.html.twig" %}

{% block title %} Casu'Hall - {{ titre }} {% endblock %}

{% block body %}
    <div class= "mt-3 mb-3 count"> 
        <h4 class= "p-2 mt-3 text-uppercase fw-bold"> {{ titre }} - {{ articles.getTotalItemCount }} </h4>
    </div> 

    {% for message in app.flashes('success') %}
        <div class="container d-flex align-items-center text-center justify-content-center mb-2 mt-3">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="container d-flex align-items-center text-center justify-content-center mb-2 mt-3">
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
        </div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        {% set isAdmin = false %}
                        {% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                {% set isAdmin = true %}
                            {% endif %}
                        {% endfor %}
                        
                        <a class="text-decoration-none text-black {% if article.quantiteStock == 0 and not isAdmin %}disabled{% endif %}"
                        {% if article.quantiteStock > 0  or (article.quantiteStock == 0 and isAdmin) %}
                            href="{{ path('articles.articleDetail', {'id': article.id}) }}"
                        {% endif %}>
                            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="card-img-top" alt="Images de vêtements">
                            <div class="card-body">
                                <h5 class="card-title fw-bold text-uppercase">{{ article.nomArticle }}</h5>
                                {% if article.quantiteStock == 0 %}
                                    <div class="card-text text-danger fw-bold">Stock épuisé ! Bientôt de retour...</div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
                {% if loop.index is divisible by(4) %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="navigation d-flex justify-content-center color-black">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}