{% extends "base/base.html.twig" %}

{% block title %} Casu'Hall - Ajouter une marque {% endblock %}

{% block body %}
    {% set alertTypes = {'success': 'success', 'warning': 'warning', 'error': 'danger'} %}
    {% for type, cssClass in alertTypes %}
        {% for message in app.flashes(type) %}
            <div class="container-fluid d-flex align-items-center text-center justify-content-center mb-2 mt-3">
                <div class="alert alert-dismissible alert-{{ cssClass }} text-center" data-alert>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <h4 class = "p-2 mt-3 text-uppercase fw-bold text-center"> {% trans %} Ajouter une marque {% endtrans %}</h4>
    <div class="container d-flex align-items-center mb-5 mt-4">
        <div class="p-4 border border-black bg-light rounded mx-auto shadow shadow-lg">
            {{ form_start(form) }}
                {{ form_widget(form.action) }}
                <div class="row mb-2">
                    {{ form_label(form.nomMarque)}}
                    {{ form_widget(form.nomMarque)}}
                </div> 

                <div class="row">
                    {{ form_label(form.imageFile)}}
                    {{ form_widget(form.imageFile)}}
                </div> 

                <div class="row mb-2">
                    <p class="small justify fst-italic"> {% trans %} Veuillez privilégier, s'il vous plaît, des images en 32x32. {% endtrans %} </p>
                </div> 

                <div class="row">
                    <div class="btn-group" role="group">
                        {{ form_widget(form.addBrand) }}
                        {{ form_widget(form.deleteBrand) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}